mypy
feedparser
requests
beautifulsoup4
feedgen
fastapi
uvicorn[standard]
pydantic
python-magic
pytest
pytest-dependency
pre-commit
black
pytz
isort
requests-cache

types-beautifulsoup4
types-pytz
types-requests
